body {
    background-color: #3B4147;
    color: white;
}

@media print {
    /* Define o layout da página impressa para se ajustar ao da tela */
    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Remove margens e espaços extras para impressão */
    .row, .col-md-6, .col-md-4, .col-md-2, .col-md-3 {
        margin: 0;
        padding: 0;
    }

    /* Oculta elementos de visualização que não devem aparecer na impressão */
    .no-print {
        display: none !important;
    }

    /* Define quebras de página após certas seções (opcional) */
    .page-break {
        page-break-after: always;
    }
}
